/*Animacja buttona*/
.btn {
  font-size: 12px;
  border-radius: 0;
  font-weight: 600;
  padding: 10px 30px;
  transition: 0.5s;
}
.btn.btn-default {
    color: #fff;
    background: #65bbe3;
    border: 0;
    box-shadow: inset 0 0 0 1px #e1dfd9;
    text-align: center;
    display: block;
}
.btn.btn-default:active {
  background-color: #65bbe3;
  border: 1px solid #e1dfd9;
}
.btn.btn-default.draw {
  transition: color 0.6s;
}
.btn.btn-default.draw::before, .btn.btn-default.draw::after {
  border: 3px solid transparent;
  width: 0;
  height: 0;
}
.btn.btn-default.draw::before {
  top: 0;
  left: 0;
}
.btn.btn-default.draw::after {
  bottom: 0;
  right: 0;
}
.btn.btn-default.draw:hover {
  color:#f99f0b;
  background-color:#6d6e71;
}
.btn.btn-default.draw:hover::before, .btn.btn-default.draw:hover::after {
  width: 100%;
  height: 100%;
}
.btn.btn-default.draw:hover::before {
  border-top-color: #65bbe3;
  border-right-color: #65bbe3;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.btn.btn-default.draw:hover::after {
  border-bottom-color: #65bbe3;
  border-left-color: #65bbe3;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.btn.btn-light {
  color: #000;
  background: transparent;
  border: 0;
  box-shadow: inset 0 0 0 1px #e1dfd9;
}
.btn.btn-light:active {
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid #e1dfd9;
}
.btn.btn-light.draw {
    transition: color 0.25s;
}
.btn.btn-light.draw::before, .btn.btn-light.draw::after {
  border: 3px solid transparent;
  width: 0;
  height: 0;
}
.btn.btn-light.draw::before {
  top: 0;
  left: 0;
}
.btn.btn-light.draw::after {
  bottom: 0;
  right: 0;
}
.btn.btn-light.draw:hover {
  color: #000;
}
.btn.btn-light.draw:hover::before, .btn.btn-light.draw:hover::after {
  width: 100%;
  height: 100%;
}
.btn.btn-light.draw:hover::before {
  border-top-color: #e1dfd9;
  border-right-color: #e1dfd9;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.btn.btn-light.draw:hover::after {
  border-bottom-color: #e1dfd9;
  border-left-color: #e1dfd9;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.btn {
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 0.5em 2em;
  font-size: inherit;
  position: relative;
  vertical-align: middle;
}
.btn::before, .btn::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}