/* GLOBAL */
body{
    font-family:  'Montserrat', sans-serif;
}
main{
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
h1{
    font-size: 3.4vw;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}
section{
    position: relative;
}
:after, :before{
    content: "";
    display: block;
    position: absolute;
}
a:hover{
    text-decoration: none;
}
.bg{
    background-repeat: no-repeat;
}
textarea:focus{
    outline: none;
}
input:focus::-moz-placeholder {
    color: transparent;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
textarea:focus::-moz-placeholder {
    color: transparent;
}
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
/* header */
header{
    position: fixed;
    top:0;
    z-index: 9;
    left:0;
    width: 100%;
}
header.affix{
    background:rgba(0,0,0,0.3);
}
header.affix .logo{
    width: 250px;
    padding-top: 15px;
}
.logo{
    padding-top: 35px;
    padding-left: 60px;
    transition: 1s;
    opacity: 0;
    width: 370px;
}
.logo.load{
    opacity: 1;
}

/* navigation */
header ul.navigation {
    text-align: right;
    padding-left:0;
    padding-top: 67px;
    margin-right: 50px;
    margin-top: 60px;
    opacity: 0;
    transition: 1s;
}
header.affix ul.navigation{
    padding-top:20px;
}
header ul.navigation li{
    display: inline-block;
    padding:0 30px;
}
header ul.navigation li a{
    background: -webkit-linear-gradient(#7edce6 ,#7ec2e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-weight: 700;
}
header.affix ul.navigation li a{
    background: -webkit-linear-gradient( #fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header.affix ul.navigation li a:hover, header ul.navigation li a:hover{
    background: -webkit-linear-gradient( #31528d, #31528d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header.otherPage ul.navigation li a{
    color: #fff;
    background: none;
    -webkit-text-fill-color: #fff; 
}

/* SLIDER TOP */
#slider-top .container-fluid{
    padding:0;
}
.apllDown{
    background-image: url('../img/top-slider.png');
    min-height: 742px;
    width: 1289px;
    position: relative;
    left: -1500px;
    transition: 1s;
    background-position: right;
}
.apllDown img{
    position: relative;
    left: -1300px;
    transition: 1s;
}
.apllDown.load, .apllDown img.load{
    left:0;
}
.short-description{
    text-align: right;
    width: calc(100vw - 1289px);
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 1;
    margin-top: 60px;
    opacity: 0;
    transition: 0.5s;
}
.short-description.load, header ul.navigation.load{
    opacity: 1;
    margin-top: 0;
}
.short-description h1{
    text-transform: uppercase;
    color: #6d6e71;
    font-weight: 900;
}
.short-description h2{
    background: -webkit-linear-gradient(#7edce6 ,#7ec2e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
}
/*BTN READ MORE*/
.read_more{
    color: #3cc7dd;
    background-image: url('../img/arrow-read-more.png');
    display: block;
    background-position: 166px 3px;
    font-weight: 500;
}
.read_more:hover{
    background-image: url('../img/arrow-read-more-hover.png');
    color: #6d6e71;
}
/*ALL HEXAGON IN TITLE */
.hexagon{
    background-image: url('../img/hexagon.png');
    min-height: 93px;
    color: #6d6e71;
    margin-top: 70px;
    opacity: 0;
    transition: 1s;
}
.hexagon h2{
    font-weight: 900;
    margin-left: 65px;
    padding-top: 50px;
}
.hexagon  p{
    font-weight: 200;
    font-size: 20px;
    padding-left: 25px;
    padding-top: 30px;
}
.hexagon .read_more{
    float: right;
    padding-right: 50px;

}
.hexagon.skrollrToggle-run{
    margin-top:0px;
    opacity: 1;
}

/* SECTION ABOUT US IN HOME PAGE */
#about_us{
    padding-top: 60px;
    z-index:1;
}
#about_us .container-fluid, #about_us .col-sm-6{
    padding:0;
}
#about_us .hexagon{
    max-width: 510px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.aplLeft{
    background-image: url('../img/about-us.png');
    min-height: 746px;
    background-size: cover;
    max-width: 948px;
    margin: 0 auto;
    position: relative;
    right: -950px;
    transition: 1s;
}
.aplLeft img{
    position: relative;
    bottom: 15px;
    right: -950px;
    transition: 1s;
    transform: scale(1);
  /*  width: 97%;*/
    display: block;
    margin: 0 auto;
    margin-right: 0;
    margin-left: 25px;
}
.aplLeft img.skrollrToggle-run, .aplLeft.skrollrToggle-run{
    right: 0px;
}
.aplLeft img:hover{
    transform: scale(1.02);
}

/*LINE ANIMATION*/
.line-top{
    background-image: url(../img/line-top2.png);
    width: 0px;
    height: 1px;
    background-size: 100%;
    position: absolute;
    top: -51px;
    right: -105px;
    background-repeat: no-repeat;
    transition: 3.5s;
    pointer-events: none;
}
.line-top.load{
    width: 903px;
}
.line-top.load2{
    transition: 6s;
    height: 1657px;
}
.bottomLine{
    background-image: url(../img/line-bottom.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    width:0px;
    height: 1630px;
    transition: 6s;
    left:0;
    pointer-events: none;

}
.bottomLine.skrollrToggle-run{
    width:40.5%;
}
.bg-right{
    background-position: right;
}
.line-topTwo{
    background-image: url(../img/line-top3.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 0px;
    height: 790px;
    transition: 6s;
    left: -48px;
    pointer-events: none;
    background-size: cover;
}
.line-topTwo.load{
    width: 1333px;
}

.line-footer{
    background-image: url(../img/footer-line.png);
    background-repeat: no-repeat;
    position: absolute;
    top: -18px;
    width: 0%;
    height: 18px;
    left: 139px;
    transition: 6s;
}
.line-footer.skrollrToggle-run{
    width: 100%;
}

/*SCROLL PAGE*/
.nicescroll-cursors{
    background: -webkit-linear-gradient(#7edce6 ,#7ec2e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#ascrail2000{
    z-index: 2 !important;
}

/*SECTION 3 BLOCK*/

.aplBottom{
    background-image: url('../img/three-block.png');
    min-height: 1206px;
    background-size: cover;
    width: 39%;
    background-position: right bottom;
    position: relative;
    left: -800px;
    transition: 1s;
}
.aplBottom img{
    position: absolute;
    bottom: 0;
    left: -800px;
    transition: 1s;
    width: 100%;
    transform: scale(1);
}
.aplBottom img:hover{
    transform: scale(1.02);
}
.aplBottom img.skrollrToggle-run , .aplBottom.skrollrToggle-run{
    left:0;
}
#threeBlock .hexagon{
    max-width: 650px;
}
#threeBlock .hexagon h2{
    margin-left: 83px;
}
#threeBlock .block{
    position: relative;
    min-height: 249px;
}
#threeBlock .hexagon .ico{
    position: absolute;
    top: 25px;
    left: 35px;
    transform: scale(1);
    transition: 1s;
}
#threeBlock .hexagon:hover .ico{
    transform: scale(1.1);
}
#threeBlock .listBlock{
    padding-top: 100px;
}
#threeBlock .listBlock .block:first-child{
    left: -140px;
}
#threeBlock .listBlock .block:last-child{
    left: 140px;
}

/** footer**/
footer{
    position: absolute;
    bottom:0;
    width: 100%;
}
.space{
    width: 33%;
    position: relative;
}
.space h3{
    color: #fff;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 25px;
}
.btnBottom{
    background-image: url(../img/btn-bottom.png);
    max-width: 408px;
    width: 100%;
    display: block;
    min-height: 43px;
    padding-top: 10px;
    color:#fff;
    font-weight: 500;
    transition: 1s;
    padding-left: 22px;
    position: relative;
    right: 20px;
}
.btnBottom:hover{
    background-image: url(../img/btn-bottom-two.png);
    color:#fff;
}
.menuBottom{
    background-image: url(../img/footer-bg.png);
    width: 67%;
    background-size: cover;
}
footer ul{
    list-style: none;
    margin-top: 60px;
}
footer ul li{
    position: relative;
    padding-bottom: 5px;
}
footer ul li a{
    font-size: 14px;
    color: #3bc9dd;
    transition: 0.4s;
}
footer ul li a:hover{
    color: #3bc9dd;
    text-shadow:0px 0px 1px #3cc7dd;
}
.navBottom li:first-child{
    left: 40px;
}
.navBottom li:nth-child(2){
    left: 25px;
}
.navBottom li:nth-child(3){
    left: 10px;
}
.navBottom li:nth-child(4){
    left: 0px;
}
.text-top{
    position: absolute;
    width: 408px;
    top: -123px;
    right: -75px;
}
footer table{
    font-size: 14px;
    position: absolute;
    top: 57%;
    transform: translate(0,-50%);
    color: #3bc9dd;
    right: 30px;
}
footer table td{
    min-width: 125px;
}
footer .menuBottom .container .row .col-sm-3:last-child{
    padding-top: 90px;
}
footer .col-sm-3 a{
    color: #3bc9dd;
    transition: 0.4s;
}
footer .col-sm-4 a:first-child{
    margin-right: 30px;
}
footer .col-sm-4 a:hover{
    text-shadow:0px 0px 1px #3cc7dd;
}
footer .la{
    text-align: right;
    padding-top: 20px;
    padding-bottom: 7px;
}
footer .la img{
    margin-left: 5px;
    margin-bottom: 5px;
}
footer .la a{
    font-size: 11px;
    color: #557f93
}
footer .la a:hover b{
    text-shadow: 0px 0px 1px #557f93;
}
footer .la a:first-child{
    margin-right: 60px;
}
footer .la a:hover img {
    -webkit-filter: brightness(110%); /* Safari */
    filter: brightness(110%);
}

/*PAGE CONTACT*/
#slider-top.bg-pages{
    background-image: url('../img/bg-top-section-pages.jpg');
    background-position: right;
    min-height: 740px;
    z-index: 2;
}
#slider-top.bg-pages .apllDown{
    background-image: none;
}
#slider-top.bg-pages .apllDown{
    max-height: 745px;
}
#slider-top.bg-pages .short-description h1,
#slider-top.bg-pages .short-description h2{
    color: #fff;
    -webkit-text-fill-color: #fff;
}
#contact{
    padding-top: 100px;
}
#contact .aplBottom {
    margin-top: 100px;
}
#contact table{
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    transition: 1s;
    opacity: 0;
    margin-bottom: 160px;
}
#contact table tr td:first-child img:last-child{
    position: absolute;
    top: 3px;
    opacity: 0;
    transition: 1s;
    margin-left: 1px;
}
#contact .container .row .col-sm-6:first-child table tr td img:last-child{
    left:96px;
}
#contact table:hover td:first-child img:last-child{
    opacity: 1;
}
#contact table tr td p ,#contact table tr td a{
    color: #3cc9dd;
    margin-bottom:0;
}
#contact table tr td p b ,#contact table tr td a{
    font-weight: 900;
    font-size: 22px;
}
#contact .container .row .col-sm-6:first-child table tr td:first-child{
    width: 100px;
}

.right-widget{
    background-image: url('../img/about-us.png');
    background-position: left;
    width: 420px;
    min-height:665px;
    position: absolute;
    top: 40px;
    right: -500px;
    transition: 1s;
}
.right-widget img{
    position: absolute;
    right: -500px;
    top: -15px;
    transition: 1s;
    transform: scale(1);
}
.right-widget img:hover{
    transform: scale(1.02);
}
.right-widget.skrollrToggle-run{
    right:0px;
}
.right-widget img.skrollrToggle-run{
    right:0px;
}
.right-widget-line{
    background-image: url('../img/line-right-widget');
    width: 0px;
    height: 721px;
    position: absolute;
    top: -40px;
    z-index: -1;
    transition: 8s;
}
.right-widget-line.skrollrToggle-run{
    width:415px;
}
#contact form{
    position: absolute;
    left: 54%;
    transform: translate(-50%,0);
    width: 47%;
}
form h2{
    position: relative;
    right: 185px;
    font-size: 40px;
    color: #6d6e71;
    font-weight: 900;
    margin-top:40px;
    margin-bottom: 20px;
}
.form-group{
    transform: skew(32deg);
    border: 1px solid #3cb9dc;
    position: relative;
    overflow: hidden;
}
#contact form .form-group:nth-child(2){
    right: 203px;
}
#contact form .form-group:nth-child(3){
    right: 161px;
}
#contact form .form-group:nth-child(4){
    right: 118px;
}
#contact form .form-group:nth-child(2){
    right: 203px;
}
.form-control , .form-group textarea{
    border: none;
    resize: none;
    box-shadow: none;
    background: transparent;
    width: 100%;
    padding-left: 45px;
    transform: skew(-32deg);
}
.form-group textarea:focus{
    height: 295px;
    padding-left: 0;
    width: 79%;
    margin: 0 auto;
    display: block;
}
.form-control{
    height: 63px;
}
.form-group{
    transition: 1s;
    opacity:0;
    margin-top: 50px;
}
.form-group.skrollrToggle-run{
    opacity: 1;
    margin-top:0;
}
.form-group textarea{
    height: 295px;
    padding-left: 0px;
}
.form-group p{
    display: none;
}
.form-group p.help-block-error{
    display: block;
}

textarea::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
    color:#3bc8dd;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
textarea::-moz-placeholder,
.form-control::-moz-placeholder{ /* Firefox 19+ */
    color:#3bc8dd;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
textarea:-ms-input-placeholder,
.form-control:-ms-input-placeholder{ /* IE 10+ */
    color:#3bc8dd;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
textarea:-moz-placeholder,
.form-control:-moz-placeholder{ /* Firefox 18- */
    color:#3bc8dd;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

/* checkbox */
.checkbox{
    position: relative;
    left: 148px;
    margin-top: 20px;
}
.checkbox input[type=checkbox]{
    display: none;
}
.checkbox label{
    cursor: pointer;
    padding-left:45px;
}

.boxViews{
    width: 26px;
    height: 22px;
    background: url('../img/checkbox-border.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0px;
}
.boxViews img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.boxViews.active img{
    opacity: 1;
}
.button{
    transform: skew(32deg);
    background: #65bbe3;
    overflow: hidden;
    position: relative;
    left: 123px;
}
#send{
    transform: skew(-32deg);
    background: transparent;
    border: none;
    display: block;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 900;
    color: #fff;
    height: 64px;
    cursor: pointer;
    width: 100%;
}

/*NUMBER LOAD */
.number{
    background: -webkit-linear-gradient(#7edce6 ,#7ec2e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 900;
}
.partner{
    min-height: 265px;
    position: relative;
}
.partner img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(1);
}
#number{
    padding-top: 70px;
}

#number .container .row:nth-child(2) .col-md-3:first-child .partner img{
    left:0;
    transform: translate(0%,-50%) scale(1);
}

#number .container .row .col-md-4,
#number .container .row .col-md-5,
#number .container .row .col-md-3{
    transition: 1s;
    opacity: 0;
    margin-top: 60px;
}
#number .container .row .col-md-4.skrollrToggle-run,
#number .container .row .col-md-5.skrollrToggle-run,
#number .container .row .col-md-3.skrollrToggle-run{
    opacity: 1;
    margin-top: 0px;
}

/*repurchase*/
#repurchase{
    padding-top: 90px;
    color: #fff;
}
#repurchase .row{
    position: relative;
}
.small_pic{
    width: 10%;
    position: relative;
    left: -250px;
    transition: 1s;
}
.small_pic.skrollrToggle-run{
    left:0;
}
.big_pic{
    position: absolute;
    background-image: url('../img/repur2.png');
    right: -6000px;
    background-size: cover;
    min-height: 326px;
    width: 78%;
    transition: 2s;
}
.big_pic.skrollrToggle-run{
    right:0;
}
.hexagon_draw{
    width: 20%;
    position: absolute;
    top: 163px;
    left: 6%;
    height: 0px;
    transition: 4s;
    background-image: url('../img/big-hexagon.png');
    background-repeat: no-repeat;
    max-height: 326px;
}
.hexagon_draw.skrollrToggle-run{
    height: 329px;
}
.small_pic img{
    width: 100%;
    max-height: 326px;
}
#repurchase .aplBottom{
    margin-top: 450px;
}
#repurchase h2{
    font-weight: 900;
}
#repurchase p{
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
}
#repurchase .container .row{
    min-height: 326px;
}
.baner_txt{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    margin-left: 50px;
    margin-top:60px;
    opacity: 0;
    transition: 1s;
}
.baner_txt.skrollrToggle-run{
    margin-top:0;
    opacity: 1;
}
#repurchase .aplLeft img.btn-Play{
    width: 107px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-right: auto;   
}
#repurchase .aplLeft{
    position: absolute;
    min-height: 720px;
    margin-top: 250px;
    z-index: 2;
}
#repurchase .hexagon{
    transform: skew(-30deg);
    margin-bottom: 50px;
    position: relative;
}
#repurchase .hexagon h2{
    margin-left: 50px;
}
#repurchase .hexagon p{
    padding-left: 55px;
}
#repurchase .listBlock{
    position: absolute;
    width: 70%;
    left: 59%;
    transform: translate(-50%,0) skew(30deg);
    top: 170px;
    margin-left: 4px;
    margin-bottom: 50px;
}
#repurchase .listBlock .block .hexagon:nth-child(2){
    left: 100px;
}
#repurchase .listBlock .block .hexagon:nth-child(3){
    left: 230px;
}
#repurchase .listBlock .block .hexagon:nth-child(4){
    left: 300px;
}


/*SECTION ABOUT US PAGE*/
.desc_about_us{
    position: absolute;
    width: 1450px;
    padding: 0 15px;
    right: 130px;
}
.desc_about_us .text{
    max-width: 950px;
    margin:0 auto;
    margin-right: 0px;
    color: #6d6e71;
    margin-top: 160px;
}
.desc_about_us .text h3{
    font-weight: 900;
    font-size: 26px;
    margin-bottom: 35px;
    line-height: 35px;
}
.desc_about_us .text p{
    font-size: 20px;
    margin-bottom: 35px;
}
#AboutUs .aplBottom{
    margin-top: 260px;
}
.watchword{
    font-size: 52px;
    color:#3bc9dd;
    line-height: 60px;
    position: absolute;
    left: 0px;
    top: 150px;
}






